body{
    padding: 0;
    margin: 0;
}

.bloc{
    width: 100%;
    padding: 400px 0;
}


.bloc.red{
    background-color: #c71d1f;
    color: white;
}

.bloc p{
    padding: 0;
    margin: 0;
    text-align: center;
    opacity: 0;
    transition: all .2s ease-out .5s;
    transform: translate(0, -20px);
}

.bloc p.visible{
    opacity: 1;
    transform: translate(0, 0);
}